@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100VW;
  margin: 0 auto;
  padding: 2rem;
}


.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
}

.about {
  color:black;
  font-size: 2rem;
  position: relative;
  will-change: transform;
  animation: 1.5s 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    color:gray;
  }
  100% {
    transform: translateX(0);
    color:black;
  }
}

.skills {
  display: flex;
  gap:1rem;
  justify-content: center;
}

.preview {
  width:20rem;

}