@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url("./fonts/caveat.ttf");
  font-weight: normal;
  font-style: normal;
}

#root {
  margin: 0 auto;
  height: 100vh;
  --tcolor: rgb(68, 68, 175);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }

}

.rotate {
  margin:auto;
  animation: rotate 2s ease-out 1s infinite;
}

.warning {
  font-family: Caveat;
  font-size: 2rem;
  color:rgb(117, 40, 12);
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}

.darkmode {
  background-color: #cdbad1;
  filter: brightness(25%);
}


.blockLetters {
  position: absolute;
  top:-25%;
  z-index: 1;
  display: inline;
  /* font-family: "VTKS"; */
  font-size: 2vw;
  vertical-align: bottom;
  line-height: 1.1rem;
  color: rgb(42, 42, 112);
  text-shadow: 1px -1px 0 var(--tcolor), 2px -2px 0 var(--tcolor), 1px -1px 2px var(--tcolor), 2px -2px 2px var(--tcolor), 
    5px 5px 15px rgb(0,0,0,.25);
  text-align: left;
  letter-spacing: 1px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
}

.name {
  max-width: 20%;
  right:10%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
}

.shelf {
  width: 20rem;
  height: 3rem;
  max-width: 100%;
}

.window {
  position: absolute;
  left: 40%;
  top: 20%;
  max-width: 20%;
}

.bookshelf {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.bookcase {
  position: absolute;
  left: 5%;
  bottom: 15px;
  max-width: 25%;
  max-height: 75%;
}

.bookshelfTop {
  display: flex;
  width: 100%;
}

.bookshelfLeft {
  width: 15%;
}

/* .bookshelfCover {
  flex-grow: 1;
  background-image: url("./assets/bookshelfTop.png");
  background-size: cover no-repeat;
} */
 .bookshelfCover {
  flex-grow: 1;
 }
.bookshelfCover img {
  height: 100%;
  object-fit: cover;
}
.bookshelfCorner {
  max-width: 13.5%;
}

.bookshelfFront {
  display: flex;
}

.bookshelfContents {
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}

.bookshelfRows {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.bookshelfSide {
  max-height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  scroll-snap-align: center;
}

.bookshelfSegment {
  flex-grow: 1;
  background-image: url("./assets/bookshelfSegment.png");
  background-repeat: no-repeat;
}

.none {
  display: none;
}

.book {
  position: absolute;
  max-width: 20%;
  left: 10%;
  bottom: 25%;
}

.contact {
  left: 50%;
}
.books {
  max-width: 50%;
  bottom: 15%;
}

.setup {
  position: absolute;
  right: 5%;
  bottom: 5px;
  max-width: 35%;
  max-height: 55%;
  cursor: pointer;
}

.light {
  max-width: 35%;
}

.wall {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.highlight:hover {
  -webkit-filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white) drop-shadow(1px 0px 0 rgba(0, 0, 0, 0.25)) drop-shadow(0px 1px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-1px -0px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-0px -1px 0 rgba(0, 0, 0, 0.25));
  filter: drop-shadow(1px 0px 0 white) drop-shadow(0px 1px 0 white) drop-shadow(-1px -0px 0 white) drop-shadow(-0px -1px 0 white) drop-shadow(1px 0px 0 rgba(0, 0, 0, 0.25)) drop-shadow(0px 1px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-1px -0px 0 rgba(0, 0, 0, 0.25)) drop-shadow(-0px -1px 0 rgba(0, 0, 0, 0.25));
}

.monitor {
  /* background-image: url("./assets/Screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  margin: auto;
  max-width: 85%;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  align-content: center;
}

.screen {
  position: absolute;
  width: 90%;
  left: 5%;
}

.cards {
  position: relative;
}

.deck {
  max-width: 40%;
  padding-top: 1.5%;
  
}

.backArrow {
  z-index: 10;
}

.backArrow:hover {
  transform: scale(1.2, 1.2);
  filter: brightness(110%) saturate(300%);
}

.backArrow:active {
  transform: scale(1.1, 1.1);
  filter: brightness(75%) saturate(200%);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    color: gray;
  }

  100% {
    transform: translateX(0);
    color: black;
  }
}

.skills {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.logo {
  width: 4rem;
  margin: auto;
  padding-bottom: 5rem;
}

.preview {
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 1vw 3vw 0 3vw;
}

.project {
  position: relative;
  width: 30%;
  aspect-ratio: 6/8;
  /* border: 1rem solid white; */
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  margin: 1.5em auto 0 auto;
  font-size: 1.5vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.project-description {
  width: 90%;
  padding-bottom: 10%;
  font-size: .9vw;
  margin: 0 auto 0 auto;
  padding: 1vw 3vw 0 3vw;
  text-align: left;
  white-space: pre-line;
  flex-grow: 1;
  color: rgb(22, 22, 22);
}

.project-description-additional {
  font-size: .7vw;
}
.share-buttons {
  width: 65%;
  margin: 1vw auto 3vw auto;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

.back {
  animation: flipUp .5s forwards;
}

.front {
  animation: flipOver .5s forwards;
}

.float {
  animation: floatIn .5s forwards
}

.valoBack {
  background-image: url("./assets/Valorant Back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.valoFront {
  background-image: url("./assets/Valorant Front.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* animation: flipOver .5s forwards; */
}

.ctgFront {
  background-image: url("./assets/CTG Front.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* animation: flipOver .5s forwards; */
}

.cfFront {
  background-image: url("./assets/CF Front.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.flipped {
  transform: rotate(180deg);
}

@keyframes flipUp {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(90deg);
  }
}

@keyframes flipOver {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes floatIn {
  0% {
    transform: translateY(-5rem);
    filter: opacity(0%);
  }

  100% {
    transform: translateY(0px);
    filter: opacity(100%);
  }
}

.overlay {
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.handwriting {
  font-family: "Caveat";
  font-size: 2vw;
  color: black;
}

.contactIcon {
  width: 20%;
}

.center {
  display: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.aboutMe {
  display: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-40%, 30%);
}